@import "../../app.scss";

.contact {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1366px;
  gap: 50px;
  margin: auto;

  @include desktop {
    max-width: 950px;
  }

  @include tablet {
    max-width: 700px;
  }

  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      text-align: center;
      align-items: center;
      gap: 10px;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include desktop {
        font-size: 80px;
      }

      @include tablet {
        font-size: 66px;
      }

      @include mobile {
        font-size: 32px;
        line-height: 40px;
      }
    }

    h2 {
      @include mobile {
        font-size: 20px;
      }
    }

    span {
      font-weight: 300;

      @include desktop {
        font-size: 16px;
      }

      @include tablet {
        font-size: 14px;
      }
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      padding: 0 50px 0 50px;
      width: 100%;
    }

    .phoneSvg {
      position: absolute;
      stroke: orange;
      margin: auto;
      z-index: -1;

      .svg {
        @include desktop {
          height: 400px;
          width: 400px;
        }

        @include mobile {
          height: 300px;
          width: 300px;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      textarea,
      input {
        padding: 20px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        color: white !important;

        @include mobile {
          padding: 10px;
        }
      }

      button {
        border: none;
        background-color: orange;
        cursor: pointer;
        padding: 20px;
        font-weight: 500;

        @include mobile {
          padding: 10px;
        }
      }
    }
  }
}
